layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: 魔工坊技术团队知识平台
comments: false
---
ul#intro-feature-list
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-bolt
            h3.intro-feature-title
                a.intro-feature-title(href="http://api.mogo.club/contribute/post/index" style="text-decoration:none") Wiki投稿中心
            p.intro-feature-desc Node.js 所带来的超快生成速度，让上百个页面在几秒内瞬间完成渲染。
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-pencil
            h3.intro-feature-title
                a.intro-feature-title(href="http://api.mogo.club/contribute/post/index" style="text-decoration:none") Wiki投稿中心
            p.intro-feature-desc Hexo 支持 GitHub Flavored Markdown 的所有功能，甚至可以整合 Octopress 的大多数插件。